<% layout("layouts/boilerplate") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card">
                <div class="card-title d-flex justify-content-center align-items-center mt-2 mb-0">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form action="/register" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: </label>
                            <input class="form-control" type="text" id="username" name="user[username]" autofocus
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email: </label>
                            <input class="form-control" type="email" id="email" name="user[email]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" id="password" name="user[password]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="passwordConfirm">Confirm Password: </label>
                            <input class="form-control" type="password" id="user[passwordConfirm]"
                                name="user[passwordConfirm]" required>
                        </div>
                        <button class="btn btn-success">Register</button>
                    </form>
                    <hr>
                    <a href="/Login">Already have an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>